@import '../../assets/styles/variables';

.card {
  display: grid;
  grid-template-columns: 128px 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "image label1"
    "image data1"
    "image label2"
    "image data2"
    "image label3"
    "image data3";
  grid-gap: 5px;
}

.thumbnail-action {
  grid-area: image;
  button {
      margin-top: 5px;
  }
}

span {
    &.label {
        font-size: 14px;
        color: $light-text;
    }
}
