$top-margin: 90px;

.grid-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "sidenav main";
    grid-gap: 50px;
    margin-top: $top-margin;
    height: calc('100vh - ' + $top-margin);
  }

  app-side-navigation {
    grid-area: sidenav;
  }
  
  main {
    grid-area: main;
  }
  
  /* 48em = 768px */
@media (max-width: 48em) {
    .grid-container {
        grid-template-rows: auto auto;
        grid-template-areas:
            "main"
            "sidenav";
    }
}
