<h2>Welcome : )</h2>
<p>To create this pseudo shop I decided to find some unauthenticated public api with books. After quite a long research ...
  I decided to use google's api. <b>Warning:</b>This api allows only quite low traffic, so please be carefull : )
</p>
<p>I know that for such a small project use of ngrx redux is some overkill, but I just used to it too much for last two years.</p>
<p>I didn't have time to make this app a little bit prettier or to write tests.</p>

<button routerLink="/shop-items" mat-button mat-raised-button>Go To Shop</button>